<div class="card-container">
  <mat-card class="my-card">
      <mat-card-title class="title" color="primary">Sign Up</mat-card-title>
      <mat-card-content class="cardContent">
          <form class="my-form" (submit)="submitAcct()" [formGroup]="acctForm">
              <mat-form-field class="formField">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" name="email" formControlName='email' required>
              </mat-form-field>
              <mat-form-field class="formField">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" name="username" formControlName='username' required>
              </mat-form-field>
              <mat-form-field class="formField">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" placeholder="Password" name="password" required>
                  <mat-icon matSuffix (click)="toggleHide()">{{ isHidden ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="acctForm.hasError('required','password')">Please enter your new password</mat-error>
              </mat-form-field>
              <mat-form-field class="formField">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Re-enter Password" name="confirmPassword">
                  <mat-icon matSuffix (click)="toggleHide()">{{ isHidden ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="acctForm.hasError('notSame')">Passwords don't match</mat-error>
              </mat-form-field>
          </form>
      </mat-card-content>
      <mat-card-actions class="actions">
          <button mat-raised-button (click)="submitAcct()" color="primary">Submit</button>
      </mat-card-actions>
  </mat-card>
</div>