<!-- <app-header displayLogo='true'></app-header> -->
<app-split-pane [minPaneSizeLeft]='"200"' [maxPaneSize]="['left', 400]" [splitPos]="15" width="300px" [height]='"100%"' [visiblePane]='"both"'>
    <div class="pane-left" pane-left>
        <div class="tempTop">
            <!-- <div class="tempHolder"> -->
                <!-- Chat List Goes Here-->
                <app-chat-list class="chatlist"></app-chat-list>
            <!-- </div> -->
        </div>
        <div class="tempBottom">
            <!-- App and User Settings Bar Goes Here-->
            <app-online-list class="onlinelist"></app-online-list>
        </div>
    </div>
    <div pane-right style="flex-basis: inherit">
        <!-- Chat View Goes Here -->
        <app-chat-pane-view></app-chat-pane-view>
    </div>
</app-split-pane>