mat-toolbar {
  height: 7vh;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.logo {
  max-width: 15%;
}

.page-links {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.link {
  margin-right: 1rem;
  outline: 0;
}

.link:hover {
  cursor: pointer;
}

.plain-link {
  text-decoration: none;
  color: inherit;
}

.view {
  margin-left: 3rem;
  width: 15%;
}
