<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <div class="logo">
            <a class="plain-link" target="_blank" href="">
                <div class="link" *ngIf="displayLogo">
                    IDF-SecureChat
                    <!-- Substitute for Logo Here-->
                </div>
            </a>
        </div>
        <div class="view">
            {{ view }}
        </div>
        <div class="page-links">
            <span class="link" *ngFor="let link of links" [routerLink]="link.path">
              {{ link.text }}
            </span>
            <span *ngIf="authService.isLoggedIn" class="nav-item">
             <a class="nav-link"  (click)="authService.logout()">Logout</a>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>