mat-toolbar {
  height: 7vh;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.link {
  margin-right: 1rem;
  outline: 0;
}

.link:hover {
  cursor: pointer;
}

.plain-link {
  text-decoration: none;
  color: inherit;
}

.view {
  margin-left: 3rem;
}
