/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import '~material-icons/iconfont/material-icons.scss';


body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  background-color: grey;
  height: 100vh;
  overflow: hidden;
  color: #eee;
}

*,
*::before,
*::after {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

// fixes a bug with material-icons having strange overflows and click areas
.material-icons {
  overflow: hidden;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
