$header-height: 60px;

$idf-text-color: rgb(235, 235, 235);
$idf-dark-header: rgb(38, 38, 38);
$idf-current-state: rgb(76, 175, 80);
$idf-current-selection: rgb(0, 128, 255);



$material-icons-font-path: '~material-icons/iconfont/';
