$header-height: 60px;

$idf-text-color: rgb(179, 186, 190);
$idf-dark-header: rgb(38, 38, 38);
$idf-current-state: rgb(148, 148, 148);
$idf-current-selection: rgb(0, 128, 255);



$material-icons-font-path: '~material-icons/iconfont/';
